%h2 Similar movies to #{@movie.title}

%h3 Movies by the same director:
- if @sameDirectorMovies
  %ul
    - @sameDirectorMovies.each do |movie|
      %li
        %td= link_to "#{movie.title}", movie_path(movie)
